body{
background-color:lightblue;



}



.App {
  text-align: center;
}




#card3{
display: flex;
justify-content: space-around;
margin-top: 4rem;
background-color: lightblue;

}



header{
text-align: center;
text-decoration: dashed;
color:black;
width: 80%;
margin:auto;

}

.card{

background-color: lightblue;

}

.mb-3{

width: 150px;
margin:auto;


}